# /assets
/barcode/music_service_example
/barcode/env
/barcode/__pycache__
/src
/env
/barcode/src
/barcode/.vscode
/barcode/favicons
/barcode/test2.py
# /barcode/hotreload.py
/barcode/test.py
/barcode/textfield.py
/barcode/share
# /barcode/androidstorage4kivy
/test_app/
/FORM_DATA/destination/
FORM_DATA/source/